In [71]:
import numpy as np 
import pandas as pd 

import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [72]:
DTP_FILE_PATH = './DataDTPкор.xlsx'
POGODA_FILE_PATH = './Pogoda.xlsx'

df_dtp = pd.read_excel(DTP_FILE_PATH)  
df_pogoda = pd.read_excel(POGODA_FILE_PATH)

In [73]:
df_dtp.shape

(35019, 15)

In [74]:
df_pogoda.shape

(279935, 12)

In [75]:
df = pd.merge(left=df_pogoda, right=df_dtp, on='join_key', how='left')

df.shape

(286662, 26)

In [76]:
df.head(5)

,join_key,datetime_x,year,month,region_x,temperature,atmospheric pressure,humidity,Direction of the wind,Wind speed,...,pogoda_region,region_y,address,category,datetime_y,severity,dead_count,injured_count,parent_region,participants_count
0,"Восток44664,125",2022-04-13 03:00:00,2022,4,Восток,3.0,760.9,97.0,ССЗ,2.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,Восток42736,2017-01-01 00:00:00,2017,1,Восток,0.9,755.2,96.0,ЗЮЗ,1.0,...,Восток,Перово,"г Москва, ш Энтузиастов, 40",Столкновение,2016-12-31 22:50:00,Легкий,0.0,2.0,Москва,3.0
2,"Восток42736,125",2017-01-01 03:00:00,2017,1,Восток,1.3,754.3,96.0,З,2.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,"Восток42736,25",2017-01-01 06:00:00,2017,1,Восток,1.3,753.0,97.0,З,2.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,"Восток42736,375",2017-01-01 09:00:00,2017,1,Восток,1.6,752.7,96.0,З,1.0,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [77]:
df['pogoda_region'].isnull().sum()

251642

In [78]:
df['pogoda_region'] = df['pogoda_region'].dropna(axis='columns')

df['pogoda_region'].count()

ValueError: No axis named columns for object type Series

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['pogoda_region'].isna().sum()

251597

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 286612 entries, 0 to 286661
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   join_key               286612 non-null  object
 1   datetime_x             286612 non-null  object
 2   year                   286612 non-null  int64
 3   month                  286612 non-null  int64
 4   region_x               286612 non-null  object
 5   temperature            286582 non-null  float64
 6   atmospheric pressure   286605 non-null  float64
 7   humidity               286576 non-null  float64
 8   Direction of the wind  286612 non-null  object
 9   Wind speed             286593 non-null  float64
 10  cloudiness             286612 non-null  float64
 11  weather conditions     134595 non-null  object
 12  datetime_round         35015 non-null   datetime64[ns]
 13  id                     35015 non-null   float64
 14  light                  35015 non-null   object
 15  point                  35015 non-null   object
 16  pogoda_region          35015 non-null   object
 17  region_y               35015 non-null   object
 18  address                32534 non-null   object
 19  category               35015 non-null   object
 20  datetime_y             35015 non-null   datetime64[ns]
 21  severity               35015 non-null   object
 22  dead_count             35015 non-null   float64
 23  injured_count          35015 non-null   float64
 24  parent_region          35015 non-null   object
 25  participants_count     35015 non-null   float64
dtypes: datetime64[ns](2), float64(9), int64(2), object(13)
memory usage: 59.0+ MB

In [ ]:
df['datetime_x'] = pd.to_datetime(df['datetime_x'])

In [ ]:
for f in df.columns:
    if df[f].dtype == 'object':
        print(df[f].value_counts(), '\n')

join_key
Юг43748,5                    7
Юг43747,5                    7
Юг43737,75                   7
Юг43780,75                   6
Восток43814,75               6
                            ..
Юг43437,2916666667           1
Юг43437,3125                 1
Юг43437,3333333333           1
Юг43437,3541666667           1
Юго-запад44561,9791666667    1
Name: count, Length: 279886, dtype: int64

region_x
Юго-запад        65330
Юго-восток       64503
Юг               62404
Запад            16034
Восток           15898
Северо-восток    15755
Север            15683
Центр            15676
Северо-запад     15329
Name: count, dtype: int64

Direction of the wind
З                         28224
Штиль, безветрие          26745
Ю                         23026
ЗЮЗ                       21733
ЮЗ                        19238
ЮВ                        18834
В                         17184
ЗСЗ                       16492
ЮЮВ                       16353
ЮЮЗ                       15933
СЗ                        15285
ВЮВ                       14349
ССЗ                       13131
С                         12348
ВСВ                        7797
ССВ                        7507
Переменное направление     6388
СВ                         6045
Name: count, dtype: int64

weather conditions
                                                                                                                   56612
Слабый(ая)(ые) снег                                                                                                13946
Дымка.                                                                                                             12915
Дымка                                                                                                               6037
Состояние неба в общем не изменилось.                                                                               6037
                                                                                                                   ...
Морось незамерзающая с перерывами умеренная в срок наблюдения.                                                         1
Состояние неба в общем не изменилось.  Максимальный диаметр градин составляет 2 мм.                                    1
Ливневый снег слабый в срок наблюдения или за последний час.  Диаметр отложения мокрого снега составляет 14 мм.        1
Снег непрерывный слабый в срок наблюдения.  Диаметр отложения мокрого снега составляет 16 мм.                          1
Видна молния, грома не слышно.                                                                                         1
Name: count, Length: 227, dtype: int64

light
Светлое время суток                            20750
В темное время суток, освещение включено       13663
Сумерки                                          484
В темное время суток, освещение отсутствует       59
В темное время суток, освещение не включено       59
Name: count, dtype: int64

point
{'lat': 55.0, 'long': 37.0}              62
{'lat': 55.875, 'long': 37.738}          17
{'lat': 55.908, 'long': 37.548}          17
{'lat': 55.811, 'long': 37.839}          17
{'lat': 55.819, 'long': 37.837}          15
                                         ..
{'lat': 55.805665, 'long': 37.582372}     1
{'lat': 55.866839, 'long': 37.482681}     1
{'lat': 55.849039, 'long': 37.567067}     1
{'lat': 55.799018, 'long': 37.551433}     1
{'lat': 55.667983, 'long': 37.560196}     1
Name: count, Length: 34102, dtype: int64

pogoda_region
Восток           4906
Запад            4605
Юг               4499
Северо-восток    4484
Север            4303
Северо-запад     3415
Центр            3379
Юго-восток       2866
Юго-запад        2558
Name: count, dtype: int64

region_y
Пресненский          650
Гольяново            571
Митино               558
Строгино             550
Можайский            540
                    ...
Некрасовка           112
Внуково              112
Ломоносовский        110
Киевский              54
Поселок Восточный     19
Name: count, Length: 121, dtype: int64

address
г Москва, Московская кольцевая автомобильная дорога (МКАД) внешняя сторона, 94 км       37
г Москва, Московская кольцевая автомобильная дорога (МКАД) внешняя сторона, 41 км       36
г Москва, Московская кольцевая автомобильная дорога (МКАД) внутренняя сторона, 41 км    30
г Москва, Московская кольцевая автомобильная дорога (МКАД) внутренняя сторона, 62 км    28
г Москва, Московская кольцевая автомобильная дорога (МКАД) внешняя сторона, 54 км       28
                                                                                        ..
г Москва, ул Костякова, 9                                                                1
г Москва, ш Дмитровское, 29к1                                                            1
г Москва, проезд Дмитровский, 20 к 2                                                     1
г Москва, ул Дубнинская, 79Б                                                             1
г Москва, пр-кт Новоясеневский, 1Б                                                       1
Name: count, Length: 18800, dtype: int64

category
Столкновение                                                                                                             15795
Наезд на пешехода                                                                                                        12302
Наезд на препятствие                                                                                                      1840
Падение пассажира                                                                                                         1758
Наезд на стоящее ТС                                                                                                       1648
Наезд на велосипедиста                                                                                                    1194
Опрокидывание                                                                                                              356
Наезд на лицо, не являющееся участником дорожного движения, осуществляющее производство работ                               30
Иной вид ДТП                                                                                                                19
Отбрасывание предмета                                                                                                       18
Наезд на лицо, не являющееся участником дорожного движения, осуществляющее несение службы                                   17
Наезд на внезапно возникшее препятствие                                                                                     12
Съезд с дороги                                                                                                               8
Наезд на лицо, не являющееся участником дорожного движения, осуществляющее какую-либо другую деятельность                    7
Падение груза                                                                                                                5
Наезд на животное                                                                                                            3
Возгорание вследствие технической неисправности движущегося или остановившегося ТС, участвующего в дорожном движении.        2
Наезд на гужевой транспорт                                                                                                   1
Name: count, dtype: int64

severity
Легкий         26436
Тяжёлый         7199
С погибшими     1380
Name: count, dtype: int64

parent_region
Москва    35015
Name: count, dtype: int64